# =============================================================================
# .gitignore — Dotfiles i3
# =============================================================================
/*

!.github/
!.github/**

!*.gitignore
!*.md