# =============================================================================
# .gitignore — Dotfiles i3
# =============================================================================
/*

!.github/
!.github/**

!i3/
!i3/**

!kitty/
!kitty/**

!rofi/
!rofi/**

!dunst/
!dunst/**

!*.gitignore
!*.md